
  body {
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    color: #222;
  }

  #cj_logo {
    margin-left: 25vw;
    width: 50vw;
    padding-top: 3vw;
    }

  .section {
    width: 90vw;
    margin-left: 5vw;
  }

  .section h1 {
    font-size: 3.5vw;
    font-weight: 700;
  }

  .section p {
    font-size: 2vw;
    font-weight: 300;
  }

  #middle {
    font-size: 3vw;
    vertical-align: middle;
  }

  .code_sample {
    padding: 1vw;
    font-size: 1.25vw;
  }
